body{
    background: linear-gradient(to right,#0F1035, #3D3B40)
}
.card-body{
    background-color:#213555;

}

input:focus{
    background-color: transparent;
    outline: white;
}
label{
    color: white;
}
input.form-control, textarea.form-control {
    background-color: #2A4167;
    border: 1px solid #4C6FAF;
    color: white;
    border-radius: 10px;
    transition: 0.3s;
}

input.form-control:focus, textarea.form-control:focus {
    background-color: #1f2f4d;
    border-color: #00BCD4;
    box-shadow: 0 0 5px #00BCD4;
    color: white;
}


.btn-black {
    background-color: #394867;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.btn-black:hover {
    background-color: #607EAA;
    color: #fff;
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(255,255,255,0.2);
}





table tr:hover {
    background-color: #374C75;
    color: white;
}


fieldset {
    border: 1px solid #6a8bc3 !important;
}
legend {
    color: #ccc;
}
#employee-table {
    background-color: #1f2f4d !important;
    color: #ffffff !important;
    border-collapse: collapse;
}

#employee-table th {
    background-color: #2A4167 !important;
    color: #ffffff !important;
    font-weight: 600;
}

#employee-table td, #employee-table th {
    padding: 12px;
    border: 1px solid #3b4c68;
}
nav{
    background: linear-gradient(to right,#4F959D, #648DB3);
    z-index: 1;
}
img{
    border-radius: 50%;
}